@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "rickshaw.min.css";

////
// Main styles
////

body {
  padding-top: 60px;
}

////
// Chart
////

#chart-container {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#chart {
    position: relative;
    left: 40px;
}

#y-axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}

