{{define "header"}}
<div class="container">
    <div class="row header">
        <div class="col-md-2">
            <h1>GoStats</h1>
        </div>
        <div class="col-md-6 subhead">
            Daily Go Statistics
        </div>
        <div class="col-md-4">
            <div class="pull-right social">
                <iframe src="http://ghbtns.com/github-btn.html?user=hypebeast&repo=gostats&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="20"></iframe>
                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en"></a>                
            </div>
        </div>
    </div>
</div>
{{end}}
