{{define "body"}}
<a href="https://github.com/hypebeast/gostats"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="header">
                <h2>GoDoc</h2>
            </div>
            <div class="content">
                <div class="stat-data stat-data-3">
                    <div class="stat-container stat-purple">
                        <h2 id="totalPackages"></h2>
                        <span>Total Packages</span>
                    </div>
                </div>
                <div class="stat-data stat-data-3">
                    <div class="stat-container stat-purple">
                        <h2 id="newPackagesLastDay"></h2>
                        <span>New Packages (Last Day)</span>
                    </div>
                </div>
                <div class="stat-data stat-data-3">
                    <div class="stat-container stat-purple">
                        <h2 id="newPackagesLastWeek"></h2>
                        <span>New Packages (Last Week)</span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="content">
                <div id="chart-total-packages"></div>
            </div>
            <div class="content">
                <div id="chart-daily-packages"></div>
            </div>
            <div class="content">
                <div id="chart-weekly-packages"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="header">
                <h2>Github</h2>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <div class="header">
                                <h3>Trending Repos</h3>
                            </div>
                            <div class="content">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#daily" role="tab" data-toggle="tab">Daily</a></li>
                                    <li><a href="#weekly" role="tab" data-toggle="tab">Weekly</a></li>
                                    <li><a href="#monthly" role="tab" data-toggle="tab">Monthly</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="daily">
                                        <ul class="repo-list">
                                            {{ range $repo := .DailyTrendingRepos }}
                                                <li class="repo-item">
                                                    <h2 class="repo-title">
                                                        <a href="{{$repo.Url}}" class="repo-name">{{$repo.Title}}</a>
                                                        <span class="repo-meta">
                                                            <i class="fa fa-star"></i>
                                                            {{$repo.Stars}}
                                                        </span>
                                                    </h2>
                                                    <p class="repo-description">{{$repo.Description}}</p>
                                                </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                    
                                    <div class="tab-pane" id="weekly">
                                        <ul class="repo-list">
                                            {{ range $repo := .WeeklyTrendingRepos }}
                                                <li class="repo-item">
                                                    <h2 class="repo-title">
                                                        <a href="{{$repo.Url}}" class="repo-name">{{$repo.Title}}</a>
                                                        <span class="repo-meta">
                                                            <i class="fa fa-star"></i>
                                                            {{$repo.Stars}}
                                                        </span>
                                                    </h2>
                                                    <p class="repo-description">{{$repo.Description}}</p>
                                                </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                    
                                    <div class="tab-pane" id="monthly">
                                        <ul class="repo-list">
                                            {{ range $repo := .MonthlyTrendingRepos }}
                                                <li class="repo-item">
                                                    <h2 class="repo-title">
                                                        <a href="{{$repo.Url}}" class="repo-name">{{$repo.Title}}</a>
                                                        <span class="repo-meta">
                                                            <i class="fa fa-star"></i>
                                                            {{$repo.Stars}}
                                                        </span>
                                                    </h2>
                                                    <p class="repo-description">{{$repo.Description}}</p>
                                                </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="block">
                            <div class="header">
                                <h3>Most Starred</h3>
                            </div>

                            <div class="content">
                                <ul class="repo-list">
                                    {{ range $repo := .MostStarredRepos }}
                                        <li class="repo-item">
                                            <h2 class="repo-title">
                                                <a href="{{$repo.Url}}" class="repo-name">{{$repo.Title}}</a>
                                                <span class="repo-meta">
                                                    <i class="fa fa-star"></i>
                                                    {{$repo.Stars}}
                                                </span>
                                            </h2>
                                            <p class="repo-description">{{$repo.Description}}</p>
                                        </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{end}}
